@import url('../fonts/fonts.css');
@import url('../plugin/bootstrap/bootstrap.min.css');
@import url('../plugin/swiper/swiper-bundle.min.css');
@import url('normalize.css');
@import url('../plugin/fontawesome/fontawesome.min.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: #f3f3f3;
    color: #080B17;
    font-size: 0.9rem
}
.form-control:focus, .btn:active{
    box-shadow: none;
    outline: none;
    border-color:#999
}
.mt-d{
    margin-top: 30px;
}
.mb-d{
    margin-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.main-menu>li>a,
.sidebar-title,
.card-banner-item-desc {
    font-family: 'Fira Sans', sans-serif;
}

.fw-normal {
    font-weight: 400
}

img {
    max-width: 100%;
}

.clear {
    clear: both;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 15252633221;
    text-align: center;
    backdrop-filter: blur(15px);
}

.preloader>div {
    position: absolute;
    top: calc(50% - 75px);
}

.preloader>img {
    position: absolute;
    top: calc(50% - 120px);
    left: calc(50% - 25px);
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid var(--primary-color);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

a,
a:hover {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    color: var(--primary-color) !important;
    text-decoration: none;
}
a,
.transition,
button, .btn {
    -webkit-transition: all 0.10s linear;
    -moz-transition: all 0.10s linear;
    -o-transition: all 0.10s linear;
    transition: all 0.10s linear;
}

.two-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

main>.container {
    position: relative;
    z-index: 12222
}

header {
    position: relative;
    z-index: 122221
}

/*! CSS Used from: Embedded ; media=all */
@media all {


    .run-toggle-container {
        position: relative;
        display: block;
        width: 45px;
        height: 25px;
    }

    .run-toggle-container input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .run-toggle-container .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, .1);
        -webkit-transition: .4s;
        transition: .4s;
    }

    .run-toggle-container .slider:before {
        color: #666;
        background-color: #fff;
        position: absolute;
        content: "";
        font-size: 14px !important;
        height: 19px;
        line-height: 20px;
        width: 19px;
        text-align: center;
        left: 3px;
        bottom: 3px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        -webkit-transition: .25s;
        transition: .25s;
    }

    .run-toggle-container .slider.round {
        border-radius: 25px;
    }

    .run-toggle-container .slider.round:before {
        border-radius: 50%;
    }

    .run-toggle-container input:checked+.slider:before {
        -webkit-transform: translateX(19px);
        transform: translateX(19px);
    }

    .dark .run-toggle-container .slider,
    .run-bar-dark .run-bar-item>.run-toggle-container .slider {
        background-color: rgba(255, 255, 255, .3);
    }

    .run-bar-item {
        padding: 0 7px;
    }

    .run-dark-mode .run-toggle-container .slider:before {
        font-family: FontAwesome;
        content: "\f186";
    }

    .run-dark-mode .run-toggle-container input:checked+.slider:before {
        content: "\f185";
    }

    .run-dark-mode label {
        margin: 0 !important
    }
}

header {
    background: #fbfbfb;
    float: left;
    width: 100%;
    z-index: 14454 !important;
    border: 0;
}

header .mobile {
    display: none;
}

header .top-bar {
    border-bottom: 1px solid #dedede;
    float: left;
    width: 100%;
    padding: 5px 0;
    font-size: 13px;
    font-weight: 500;
    background: #080B17;
    color: #dedede;
}

header .top-bar-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header .top-bar-nav a:not(.dropdown-item) {
    color: #dedede;
    margin-top: 3px;
    display: inline-block;
}

header .top-bar-nav a:hover {
    color: var(--primary-color) !important
}

header .top-bar-nav .social-link {
    display: inline-block;
    font-size: 17px;
    margin-bottom: -5px;
    margin-top: -3px;
}

header .top-bar-nav .social-link a {
    color: #dedede
}

header .fa-moon {
    color: #dedede;
}

header .fa-sun {
    color: #ffc300;
}

header .language-select {
    border: 0;
    padding: 0px 6px;
}

header .top-bar-nav li {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: 24px;
}

header .top-bar-nav li:last-child {
    margin: 0 !important
}

header .main-nav {
    float: left;
    border-bottom: 1px solid #dedede;
    width: 100%;
    position: relative;
    background-color: #fff;
}

header .logo {
    display: block;
    padding: 18px 0;
    overflow: hidden;
    float: left;
    width: 100%;
}

header .logo img {
    margin-top: -4px;

}

.main-menu {
    float: right;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    color: #777;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0;
}

.main-menu>li {
    float: left;
}
.disabled{
    pointer-events: none;
}
.main-menu>li>a {
    display: block;
    padding: 16px 0px;
    margin: 0 17.5px;
    color: #080B17;
    text-decoration: none !important;
}

.main-menu>li:hover,
.main-menu>li:hover>a {
    color: var(--primary-color);
}
.main-menu>li>a:hover {
    color: var(--primary-color);
}

.main-menu>li.separator {
    display: block;
    height: 30px;
    width: 1px;
    background: #dedede;
    margin-right: 0px;
    margin-top: 14px;
}

.main-menu>li {
    text-transform: uppercase;
}

.main-menu>li:hover ul {
    display: block;
}

.main-menu>li .megamenu {
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}

.main-menu>li:hover .megamenu {
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #dedede;
    text-align: left;
    margin: 0px 15px;
    border-radius: 0 0 5px 5px;
    display: block;
    opacity: 1;
    margin-top: 0;
    height: auto;
    transition: transform .2s;
    -webkit-transition: all 0.30s linear;
    -moz-transition: all 0.30s linear;
    -o-transition: all 0.30s linear;
    transition: all 0.30s linear;
}
.main-menu>li .megamenu .mm-tab:before{
    position: absolute;
    top:0;
    background:#f6f6f6;
    left: 0px;
    right: 0px;
    bottom: 0;
    max-width: 100%;
    content: '';
    border-right: 1px solid #dedede;
    border-radius: 0 0 0 5px
}
.main-menu>li .megamenu .mm-tab>.mm-tab-content{
    position: relative;
    z-index: 1;
    margin-top: 20px
}
.main-menu>li .megamenu .mm-tab>.mm-tab-content a{
    display: block;
    text-align: right;
    color:#080B17;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 5px 0 0 5px;
    border:1px solid transparent;
    border-right: 0;
}
.main-menu>li .megamenu .mm-tab>.mm-tab-content a:hover, .main-menu>li .megamenu .mm-tab>.mm-tab-content a.active{
    background-color: #fff;
    border-color:#dedede;

}
.main-menu .megamenu .sbanners{
    min-height: 185px;
}
.main-menu>li>ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 58px;
    left: 10px;
    list-style-type: none;
    width: 160px;
    z-index: 12;
    display: block;
    padding: 0px;
    text-align: left;
    background: #fbfbfb;
    border-radius: 0 0 7px 7px;
    border: 1px solid #dededE;
    border-top: 0;
    overflow: hidden;
    display: none;
}

.main-menu>li>ul>li {
    display: block;
    width: 100%;
}

.main-menu>li>ul>li>a {
    display: block;
    padding: 7px 17.5px;
    font-size: 14px;
    color: #2e2e2f;
}

.main-menu>li>ul>li>a:hover {
    background: var(--primary-color);
    color: #fbfbfb;
}

.main-menu .search-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    float: left;
    border-left: 1px solid #dedede;
    width: 0;
    overflow: hidden;
    opacity: 0 !important;
}
.search-wrapper{
    background:#fff;
    height: 0;
    overflow: hidden;
    opacity: 0
}
.search-wrapper.active{
    height: auto;
    padding: 70px 0;
    opacity: 1;
    border-bottom:1px solid #dedede;
}
.search-wrapper h2{
    font-weight: 500;
    font-size: 70px;
}
.search-wrapper input{
    width: 100%;
    padding: 20px 20px 20px 0;
    font-size: 25px;
    border:0;
    border-bottom:2px solid #dedede;
    margin-bottom: 30px;
    text-align: center;
    background:transparent
}
.search-wrapper input:focus{
    box-shadow: none;
    outline:none
}
.search-wrapper .collapse-search{
    position:absolute;
    right: 30px;
    top: -50px;
    font-size: 25px;
    color:#666;
    cursor: pointer;
}
.search-wrapper .input-wrapper{
    position: relative;
}
.search-wrapper .input-wrapper button{
    font-size: 40px;
    position: absolute;
    right: 0;
    top: 10px;
    border: 0;
    background: transparent;
    color:#666;
}
.main-menu .search-area input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    float: left;
    border: 0;
    padding: 18px;
    color: #777;
}
.main-menu .menu-arrow{
    font-size: 9px;
    color:#999;
    display: inline-block;
    top: -4px;
    position: relative;
}
.main-menu .search-area input:focus {
    outline: none;
    box-shadow: none;
}

.main-menu .search-area i {
    position: absolute;
    right: 35px;
    top: 21px;
    z-index: 1;
    cursor: pointer;
}

.main-menu .search-area i:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main .breaking-news {
    padding: 8px 70px 0 0px;
    position: relative;
    margin-bottom: -12px
}

main .breaking-news .bread-controls {
    position: absolute;
    right: 0px;
    top: 18px;
    float: right;
    display: block;
    padding: 2px 12px;
}

main .breaking-news .bread-controls>a:first-child {
    margin-right: 10px
}
main .breaking-news .bread-controls>a{
    color:#080B17
}
main .breaking-news h3 {
    float: left;
    margin-right: 10px;
    font-weight: 600;
    margin-bottom: 0 !important
}

.breakings {
    margin-top: 2px;
}

.breakings ul,
.breakings li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breakings ul li {
    width: 100%;
}

.breakings ul li {
    display: block;
    width: 100%;
}

.breakings ul li span:first-child {
    width: calc(100% - 150px);
    display: block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.breakings ul li p {
    margin: 0;
    font-size: 15px;
    color: #080B17;
    opacity: 0.8;
    padding: 8px 0;
}

.breakings ul li span.breaking-time {
    float: right;
    display: block;
    text-align: right;
    width: 150px;
}

.breaking-right .btn {
    font-weight: 600;
    margin-top: 12px;
}

.breaking-right .btn-outline-dark {
    margin-right: 10px
}
.trends{
    margin-bottom: 30px;
}
.trend-area {
    position: relative;
    background: #fbfbfb;
    padding: 10px 15px 15px;
    margin-top: 10px;
    border-radius: 6px;
    overflow: hidden;
    float: left;
    width: 100%;
    border: 1px solid #dedede;
}

.trend-area-content {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
}

.trend-area:after {
    position: absolute;
    width: 270px;
    top: 0;
    left: 0;
    bottom: 0;
    content: '';
    opacity: 0.5;
    background-color: var(--primary-color);
}

.trend-area:before {
    position: absolute;
    width: 260px;
    top: 0;
    left: 0;
    bottom: 0;
    content: '';
    z-index: 1;
    background-color: var(--primary-color);
}

.trend-area h3 {
    color: #fbfbfb;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.trend-area .trend-item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    width: 100%;
    display: block;
}

.trend-area .trend-item .trend-item-category {
    position: Absolute;
    right: 0;
    top: 20px;
    color: #fbfbfb;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 4px 0 0 4px;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 1212;
}

.trend-area .trend-item .trend-item-img img {
    transition: transform .2s;
}

.trend-area .trend-item:hover .trend-item-img img {
    transform: scale(1.1);
}

.trend-area .trend-item .trend-item-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 20px 0px;
    color: #fbfbfb;
    font-size: 18px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    line-height: 25px;
    border-radius: 6px;
    font-weight: 600;
    text-shadow: 0 2px 2px rgb(0 0 0 / 60%);
}

.all-trends {
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
}

.banner-item-content {
    position: relative;
    overflow: hidden;
    border-radius: 5px
}

.main-banners .banner-item .banner-item-content img {
    transition: transform .2s;
}

.main-banners .banner-item:hover .banner-item-content img {
    transform: scale(1.1);
}

.main-banners,
.sbanners {
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-banners .banner-item {
    border-radius: 5px;
    overflow: hidden;
}

.banner-item-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 20px 40px;
    color: #fbfbfb;
    font-size: 14px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    line-height: 20px;
    border-radius: 6px;
    font-weight: 600;
}

.banner-item-desc p {
    font-size: 27px;
    line-height: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    text-shadow: 0 2px 2px rgb(0 0 0 / 60%);
}

.banner-item-desc span {
    font-size: 14px;
    font-weight: 400;
}

.banner-item-desc .banner-category {
    color: #fbfbfb;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 4px;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
}

.banner-item-desc small {
    color: #ffc122;
}

.sbanners .sbanner-item {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    float: left;
    width: 100%;
}

.sbanners .sbanner-item .sbanner-item-img img {
    transition: transform .2s;
}

.sbanners .sbanner-item:hover .sbanner-item-img img {
    transform: scale(1.1);
}

.sbanners .sbanner-item .sbanner-item-category {
    position: Absolute;
    right: 0;
    top: 20px;
    color: #fbfbfb;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 4px 0 0 4px;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 1212;
}

.sbanners .sbanner-item .sbanner-item-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 20px 0px;
    color: #fbfbfb;
    font-size: 18px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    line-height: 25px;
    border-radius: 6px;
    font-weight: 600;
    text-shadow: 0 2px 2px rgb(0 0 0 / 60%);
}

.sbanners .sbanner-item:last-child {
    margin-top: 17px;
}

.list-items h4 {
    font-size: 20px;
    margin: 0;
    margin-top: 5px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.list-items .list-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-items .list-item li>a {
    font-size: 16px;
    color: #080B17;
    font-weight: 600;
    display: block;
    margin-top: 15px;
    line-height: 22px
}

.list-items .list-item li>a:hover {
    color: var(--primary-color)
}

.list-items .list-item li>a span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    opacity: 0.8
}

.list-items.with-img .list-item li>a {
    margin-bottom: 15px;
    margin-top: 0;
    float: left;
    width: 100%;
    display: block;
    font-family: 'Fira Sans', sans-serif;
}

.list-items.with-img .list-item li:last-child>a {
    margin: 0 !important
}

.list-items.with-img .list-item li img {
    width: 160px;
    float: left;
    margin-right: 12px;
    border-radius: 4px;
    border: 1px solid #dedede;
}

.list-items.half-style {
    float: left;
    width: 100%;
    border-top: 1px solid #f0fbff;
    padding-top: 15px;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 15px 15px 5px 15px !important;
    box-sizing: border-box;
}

.list-items.half-style .list-item li {
    float: left;
    width: 50%;
}

.main-container {
    background: #fbfbfb;
    padding: 20px 0 10px;
    width: 100%;
    float: left;
    margin-top: 10px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px
}

.ad-item {
    border-radius: 4px;
    overflow: hidden;
    display: block;
    float: left;
    width: 100%;
    border: 1px solid #dedede;
    position: relative;
}

.ad-item:before {
    position: absolute;
    right: 0;
    top: 0;
    background: #dedede;
    color: #080B17;
    content: attr(data-sponsor);
    padding: 4px 10px;
    border-radius: 0 6px 0 6px;
    font-size: 10px;
}

.card {
    background: #fbfbfb;
    border-radius: 3px;
    border: 0;
    position: relative;
    border: 1px solid #dedede;
}

.card-header {
    background: #fbfbfb;
    border-radius: 3px 7px 0 0 !important;
}

.card-header span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    float: left;
    text-align: left;
}

.card-header .card-tab {
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 3px;

}

.card-header .card-tab li {
    float: left;
    margin-left: 7px;
}

.card-header .card-tab li a {
    font-weight: 500;
    color: #080B17;
    padding: 3px 15px;
    border-radius: 20px;
    font-size: 13px;
    font-family: 'Fira Sans', sans-serif;
}

.card-header .card-tab li.active a {
    background: #080B17;
    color: #fbfbfb;
}

.card-header .card-rounded-title {
    font-size: 17px;
    color: #fbfbfb;
    border-radius: 0 4px 4px 0;
    padding: 3px 25px 3px 17px;
    margin-left: -20px;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
}

.card-body {
    position: relative;
}

.big-item {
    float: left;
    width: 100%;
}

.big-item a {
    overflow: hidden;
    float: lefT;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
    color:#080B17;
}
.big-item>a, .trend-item{
    border: 1px solid #dedede;
}
.big-item-caption a{
    color:#080B17
}
.big-item img {
    transition: transform .2s;
}

.big-item:hover a img {
    transform: scale(1.1);
}

.big-item h4 {
    font-weight: 600;
    color: #080B17;
    line-height: 35px
}

.big-item h5 {
    font-weight: 600;
    color: #080B17;
    line-height: 30px
}

.card-body.gray-area {
    z-index: 2;
}

.card-body.gray-area:after {
    height: 100%;
    content: '';
    background: #f3f3f3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    border-left: 1px solid #dedede;
}

.card-banner-item {
    border-radius: 4px;
    overflow: hidden;
}

.card-banner-item .card-banner-item-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 20px 20px;
    color: #fbfbfb;
    font-size: 14px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    line-height: 20px;
    border-radius: 6px;
    font-weight: 600;
}

.card-banner-item .card-banner-item-desc p {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 25px;
}

.card-banner-item .card-banner-item-desc span {
    font-size: 14px;
    font-weight: 400;
}

.card-banner-item-content a {
    display: block;
    float: left;
    width: 100%;
}

.card-banner-item-content a img {
    transition: transform .2s;
}

.card .card-banner-item:hover .card-banner-item-content a img {
    transform: scale(1.1);
}

.sidebar .sidebar-title {
    font-size: 21px;
    font-weight: 600;
    border-left:3px solid  var(--primary-color);
    margin-bottom: 20px;
    line-height: 21px;
    padding: 4px 0 4px 10px
}

.btn-social {
    margin-bottom: 10px;
}

.btn-facebook {
    background: #1877f2;
    color: #fbfbfb;
}

.btn-instagram {
    background: #e1306c;
    color: #fbfbfb;
}

.btn-twitter {
    background: #1da1f2;
    color: #fbfbfb;
}

.btn-vk {
    background: #45668e;
    color: #fbfbfb;
}

.btn-youtube {
    background: #ff0000;
    color: #fbfbfb;
}

.btn-linkedin {
    background: #0077b5;
    color: #fbfbfb;
}

.btn-whatsapp {
    background: #4aae20;
    color: #fbfbfb;
}

.btn-pinterest {
    background: #e60023;
    color: #fbfbfb;
}

.btn-social:hover {
    color: #fbfbfb;
    opacity: 0.8
}

.social-links {
    margin: 0;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 6px;
    margin-left: 0;

}

.social-links li a {
    color: #fbfbfb;
    background: #000;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    transition: all 0.7s ease 0s;
    font-size: 14px;
    border-radius: 50%;
}

.social-links li a:hover {
    color: #fbfbfb;
    background: var(--primary-color);
}

.social-links li:last-child {
    margin-right: 0;
}

.back-footer {
    position: relative;
    background-color: #080B17;
    color: #d0d0d0;
}

.back-footer .footer-logo {
    margin-top: -14px;
}

.back-footer .footer-logo img {
    height: 45px;
}

.back-footer .footer-top {
    padding: 100px 0 43px;
}

.back-footer .footer-top .footer-menu li {
    margin-bottom: 9px;
}

.back-footer .footer-top .footer-menu li a {
    color: #fbfbfb;
    position: relative;
    display: inline-block;
    transition: all 0.5s ease 0s;
    font-size: 14px;
    font-weight: 500;
}

.back-footer .footer-top .footer-menu li a:after {
    content: "";
    display: block;
    position: relative;
    z-index: 1;
    top: auto;
    bottom: 0px;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 0;
    height: 1px;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    background-color: var(--primary-color);
}

.back-footer .footer-top .footer-menu li a:hover {
    color: var(--primary-color);
    margin-left: 5px;
}

.back-footer .footer-top .footer-menu li a:hover:after {
    width: 100%;
}

.back-footer .footer-top .footer-menu li:last-child {
    margin-bottom: 0;
}

.back-footer .footer-top .back-newsletter input {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    outline: none;
    color: #fbfbfb;
    padding: 0 0 10px;
    font-size: 13px;
    width: 100%;
}

.back-footer .footer-top .back-newsletter input::-webkit-input-placeholder {
    opacity: 1;
    color: #d0d0d0;
}

.back-footer .footer-top .back-newsletter input::-moz-placeholder {
    opacity: 1;
    color: #d0d0d0;
}

.back-footer .footer-top .back-newsletter input:-ms-input-placeholder {
    opacity: 1;
    color: #d0d0d0;
}

.back-footer .footer-top .back-newsletter input:-moz-placeholder {
    opacity: 1;
    color: #d0d0d0;
}

.back-footer .footer-top .footer-widget.footer-widget-2 {
    padding-left: 70px;
}

.back-footer .footer-top .footer-widget .footer-subtitle {
    color: #d0d0d0;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 35px;
    line-height: 1.9;
}

.back-footer .footer-top .footer-widget .back-follow-us {
    color: #d0d0d0;
    font-size: 16px;
    margin: 50px 0 35px;
}

.back-footer .footer-top .footer-widget .footer-title {
    margin-bottom: 40px;
    position: relative;
    color: #fbfbfb;
    font-size: 20px;
}

.back-footer .copyright {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding: 24px 0 24px;
}

.back-footer .copyright .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-footer .copyright .back-copy-left {
    font-size: 16px;
    margin-bottom: 0;
    color: #d0d0d0;
}

.back-footer .copyright .back-copy-left a {
    color: #d0d0d0;
    transition: all .7s ease;
}

.back-footer .copyright .back-copy-left a:hover {
    color: #fbfbfb;
}

.back-footer .copyright .back-copy-right ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.back-footer .copyright .back-copy-right ul li {
    padding-left: 30px;
}

.back-footer .copyright .back-copy-right ul li a {
    color: #d0d0d0;
    font-size: 15px;
    font-weight: 500;
}

.back-footer .copyright .back-copy-right ul li a:hover {
    color: var(--primary-color);
}

.back-footer a {
    text-decoration: none !important;
}

.back-footer ul,
.back-footer li {
    margin: 0;
    padding: 0;
    list-style-type: none
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .social-links li a {
        width: 32px;
        height: 32px;
        line-height: 35px;
        font-size: 12px;
    }

    .container {
        max-width: 1080px;
    }

    .back-footer .footer-top .footer-widget.footer-widget-2 {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 1100px) {

    .back-footer .copyright .back-copy-left,
    .back-footer .copyright .back-copy-right ul li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .back-footer .footer-top .back-newsletter {
        max-width: 400px;
    }

    .back-footer .footer-top .footer-widget.footer-widget-2 {
        padding-left: 0;
    }

    .back-footer .copyright .container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .back-footer .copyright .back-copy-right ul {
        display: block;
    }

    .back-footer .copyright .back-copy-right ul li {
        padding-left: 0;
    }

    .back-footer .copyright .back-copy-left {
        order: 2;
    }

    .back-footer .copyright .back-copy-left,
    .back-footer .copyright .back-copy-right {
        flex: 0 0 100%;
    }

    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
    }

    .mobile .toggler-icon {
        display: block;
        font-size: 21px;
        padding: 13px 8px;
        color: #080B17
    }

    .breaking-news {
        padding: 5px 0 !important;
    }

    .breaking-news h3,
    .all-trends {
        display: none
    }

    .latest-posts {
        margin-top: 25px
    }

    .trend-area-content .trend-item,
    .card-banner-item {
        margin-bottom: 15px
    }

    .card-body.gray-area:after {
        border: 0;
        background: #fbfbfb;
    }

    .list-items.half-style {
        margin-top: 15px
    }

    .list-items.half-style .list-item li {
        width: 100%
    }

    .left-drawer {
        display: block;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(15px);
        z-index: 14;
        padding: 0 0px;
        opacity: 0;
    }

    .left-drawer.opened {
        right: 0;
        width: 100%;
        padding: 0 20px;
        opacity: 1;

    }

    .left-drawer .main-menu li {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0
    }

    .left-drawer .main-menu li a {
        padding: 0;
        margin-bottom: 11px;
        font-weight: 600;
    }

    .left-drawer .main-menu li a:after {
        font-family: "Font Awesome 6 Free";
        content: "\f0da";
        float: right;
        font-size: 12px;
    }

    .left-drawer .main-menu li.separator {
        height: 1px;
        margin-bottom: 10px
    }

    .left-drawer .social-link {
        display: inline-block !important;
        width: 50px !important;
    }

    .left-drawer .social-link a:after {
        content: '' !important;
    }

    .mobile .search-area {
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        z-index: 10;
        height: 0px;
        opacity: 0;
    }

    .mobile .search-area.opened {
        opacity: 1;
        height: 40px;
    }

    .mobile .search-area input {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        float: left;
        border: 0;
        padding: 18px;
        color: #777;
    }

    .mobile .search-area input:focus {
        outline: none;
        box-shadow: none;
    }

    .mobile .search-area i {
        position: absolute;
        right: 35px;
        top: 11px;
        z-index: 1;
        cursor: pointer;
    }

    .mobile .search-area i:hover {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .share-tool {
        position: fixed !important;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto !important;
        padding: 0 !important;
        background: var(--primary-color) !important;
        z-index: 14444
    }

    .share-tool h4,
    .share-tool hr {
        display: none !important;
        margin: 0 !important;
        padding: 0;
        width: 0;
        height: 0;
        margin-top: 0 !important
    }

    .share-tool .btn {
        width: calc(100% / 7);
        float: left;
        margin: 0 !important;
        border-radius: 0 !important;
        background: var(--primary-color) !important;
        border: 0;
    }

    .bread-controls {
        display: none !important
    }

    .np-prev,
    .np-next {
        width: 100% !important;
        border: 0 !important
    }

    .post-area h1 {
        font-size: 25px !important;
    }
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.modal {
    backdrop-filter: blur(15px) !important;
    z-index: 154522
}

@media(max-width: 768px) {
    .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}

.login-modal .modal-header {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.login-modal .nav-tabs {
    border: 0;
    margin-bottom: -1px;
    z-index: 21
}

.login-modal .nav-tabs .nav-link {
    border-radius: 0 !important;
    border: 0;
    border-right: 1px solid #dedede;
    color: #666;
    font-size: 17px;
    font-family: 'Fira Sans';
    padding: 15px 20px;
}

.login-modal .nav-tabs .nav-link.active {
    color: #000;
}

.modal .modal-header {
    background: #f5f5f5;
}

.modal-backdrop {
    z-index: 55555
}

#login-modal .close {
    margin-top: -3px;
    border-left: 1px solid #dedede;
}

.modal-desc h3 {
    color: #2e2e2f
}

.section-video-area {
    background: #080B17 url('../img/video_bg_shape_02-1.png') left center no-repeat;
    padding: 35px 0 55px;
    float: left;
    width: 100%;
}

.section-video-area h3 {
    color: #fbfbfb;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.section-video-area .card-banner-item .card-banner-item-desc p {
    font-size: 14px !important;
}

.user-dropdown {
    margin-left: 0px !important;
    position: relative;
    padding-left: 40px;
}

.user-dropdown img {
    width: 29px;
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 50%;
}

.post-area h1 {
    font-size: 40px;
}

.share-tool {
    background: #f4f4f4;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 10px;
}

.share-tool h4 {
    font-size: 12px;
    margin-top: 7px;
}

.reactions {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

.reactions .reaction-item {
    width: 80px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.reactions .reactions-title {
    float: left;
    width: 100%;
    display: block;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Fira Sans';
}

.reactions .reaction-item .reaction-item-img img {
    width: 50px;
    margin: 10px;
}

.reactions .reaction-item:hover img {
    margin: 0;
}

.reactions .reaction-item .reaction-item-img {
    position: relative;
}

.reactions .reaction-item:hover .reaction-item-img img {
    opacity: 1;
}

.reactions .reaction-item .reaction-item-img:before {
    position: absolute;
    top: 0;
    right: 0;
    color: #fbfbfb;
    padding: 2px 8px;
    border-radius: 12px;
    content: attr(data-count);
    font-size: 11px;
    z-index: 12;
    background: #999;
}

.reactions .reaction-item.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.reactions .reaction-item .reaction-item-img.reitem-1:before {
    background: var(--primary-color);
}

.reactions .reaction-item .reaction-item-span {
    font-size: 13px;
    font-family: 'Fira Sans';
    font-weight: 600;
    display: inline-block;
}

.list-group-item {
    font-family: 'Fira Sans';
    font-weight: 600;
}

.next-prev {
    display: block;
    width: 100%;
    float: left;
    text-align: right;
    margin-bottom: 20px;
    border-radius: 5px 0 0 5px !important;
    overflow: hidden;
}

.np-prev,
.np-next {
    width: 50%;
    font-size: 14px;
    padding: 15px;
    font-family: 'Fira Sans';
    font-weight: 600;
    float: left;
    color: #080B17 !important;
}

.np-prev:hover,
.np-next:hover {
    color: var(--primary-color) !important;
}

.np-prev span {
    display: block;
    width: 60%;
    float: right;
}

.np-prev i {
    display: inline-block;
    float: left;
    font-size: 22px;
    margin-top: 7px;
}

.np-next i {
    display: inline-block;
    float: right;
    font-size: 22px;
    margin-top: 7px;
}

.np-next span {
    display: block;
    width: 60%;
    float: left;
}

.np-next {
    border-radius: 0 5px 5px 0;
    float: right;
    text-align: left;
    border-left: 1px solid #dedede;
}

img.circle {
    border-radius: 50%;
}

.alert {
    background: #fbfbfb !important;
    border: 1px solid #dedede !important;
    border-radius: 10px !important;
    padding: 10px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    position: relative;
    padding-lefT: 35px !important;
    border-left-width: 5px !important;
}

.alert-primary {
    border-color: var(--primary-color) !important;
    color: var(--primary-color)
}

.alert-info {
    border-color: #1877f2 !important;
    color: #1877f2
}

.alert-warning {
    border-color: #ffc122 !important;
    color: #ffc122
}

.alert-danger {
    border-color: #e94f2d !important;
    color: #e94f2d
}

.alert-success {
    border-color: #46d763 !important;
    color: #46d763
}

.alert:before {
    font-family: "Font Awesome 6 Free";
    font-size: 19px !important;
    position: absolute;
    left: 10px;
    top: 5px;
    content: "\f05a";
}

.alert-info:before {
    content: "\f05a";
}

.alert-warning:before {
    content: "\f071";
}

.alert-danger:before {
    content: "\f057";
}

.alert-success:before {
    content: "\f058";
}

.alert .close {
    font-size: 16px;
}

.dark-mode, .dark-mode .main-menu>li:hover .megamenu {
    background: #080B17;
    color: #fbfbfb;
}

.dark-mode header,
.dark-mode .sidebar .list-group,
.dark-mode .main-menu>li .megamenu .mm-tab:before,
.dark-mode .main-menu>li .megamenu .mm-tab>.mm-tab-content a.active,
.dark-mode .share-tool, .dark-mode .main-nav, .dark-mode .form-control, .dark-mode .alert, .dark-mode .search-wrapper {
    background: rgba(0, 0, 0, 0.2) !important;
}

.dark-mode .top-bar,
.dark-mode .main-nav,
.dark-mode .sidebar .list-group,
.dark-mode .sidebar .list-group a,
.dark-mode .main-menu>li:hover .megamenu,
.dark-mode .main-menu>li .megamenu .mm-tab:before,
.dark-mode .main-menu>li .megamenu .mm-tab>.mm-tab-content a.active,
.dark-mode .sidebar .sidebar-title, .dark-mode .share-tool, .dark-mode .form-control, .dark-mode .contact-item, .dark-mode .search-wrapper input, .dark-mode .search-wrapper.active {
    border-color: #111 !important
}

.dark-mode .main-menu>li>a,
.dark-mode .card-header .card-tab li a,
.dark-mode .mm-item h6,
.dark-mode .main-menu>li .megamenu .mm-tab>.mm-tab-content a,
.dark-mode .sidebar .list-group a, .dark-mode .breadcrumb-item a, .dark-mode .big-item a, .dark-mode .big-item-caption a, .dark-mode .search-wrapper input {
    color: #fbfbfb !important;
}
.dark-mode .text-dark,
.dark-mode .list-items .list-item li>a,
.dark-mode header .top-bar-nav .social-link a {
    color: #dedede !important;
}

.dark-mode .main-container,
.dark-mode .trend-area,
.dark-mode .card-body.gray-area:after,
.dark-mode .list-items.half-style,
.dark-mode .section-video-area,
.dark-mode .card,
.dark-mode .card-header,
.dark-mode .card-body,
.dark-mode footer {
    background: rgba(0, 0, 0, 0.2);
    border-color: #111;
}

.dark-mode footer {
    border-top: 1px solid #111;
}

.dark-mode .section-video-area {
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

.dark-mode .btn-outline-dark {
    border-color: #666;
    color: #666;
}

.dark-mode .preloader,
.dark-mode .left-drawer {
    background: rgba(0, 0, 0, 0.95);
}

.dark-mode .breakings ul li p {
    color: #dedede
}

.dark-mode .breakings ul li p {
    color: #dedede
}

.dark-mode .mobile .toggler-icon {
    color: #fff;
}

.gallery-container figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

.gallery-container figure>img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.gallery-container figure a {
    color: black;
    text-decoration: none;
}

.gallery-container figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255, 255, 255, .5);
    padding: .2em .5em;
    justify-self: start;
}

.gallery-container {
    column-count: 4;
    column-gap: 10px;
}

.video-side {
    max-height: 443px;
    overflow: hidden;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px 0 0 4px;
}

.scrollable-dark {
    position: relative;
}

.scrollable-dark::-webkit-scrollbar-track {
    background: #111;
}

.scrollable-dark::-webkit-scrollbar {
    width: 6px;
    background-color: #080B17;
}

.scrollable-dark::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    border-radius: 10px
}

.video-side>.row>.mb-4:nth-last-child(2),
.video-side>.row>.mb-4:nth-last-child(1) {
    margin-bottom: 0 !important
}

.video-side .card-banner-item .card-banner-item-desc {
    padding: 40px 10px 5px !important
}

.sidebar .list-group {
    background: transparent !important;
    bordeR: 1px solid #dedede;
    border-radius: 3px;
}

.sidebar .list-group a {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dedede;
    color: #080B17
}

.sidebar .list-group a:hover {
    padding-right: 30px;
    color: var(--primary-color)
}

.cookie-alert {
    position: fixed;
    bottom: -60px;
    right: 0px;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.3);
    z-index: 1444444;
    border-bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1666;
    backdrop-filter: blur(40px);
    left: 0;
    overflow: hidden;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}

.cookie-alert p {
    margin-top: 8px;
    margin-bottom: 0;
    opacity: 0.8;
}

.cookie-alert .bg-cookie {
    font-size: 100px;
    position: absolute;
    top: -10px;
    left: -20px;
    opacity: 0.1;
    color: var(--primary-color);
}

.contact-item {
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 30px 15px;
    text-align: center
}

.contact-item h4 {}

.contact-item i {
    font-size: 45px;
    color: var(--primary-color);
    margin-bottom: 15px;
    display: block;
}

.contact-item p {
    font-size: 16px
}

#newsletter-modal .modal-body {
    padding: 30px 50px
}

#newsletter-modal i.fa-envelope {
    font-size: 65px;
    color: #dedede;
    float: left;
    margin-right: 20px
}

.newsletter-information {
    padding: 25px 0;
    text-align: left;
}

.breadcrumb-item {
    font-weight: 400;
    font-size: 13px;
    font-family: 'Fira Sans', sans-serif;
}
.text-decoration-underline{
    text-decoration: underline !important;
}
.breadcrumb-item a {
    color: #080B17;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\f054";
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 800;
    font-size: 10px;
    display: inline-block;
    margin-top: 3px;
}

.content-wrapper {
    font-size: 16px;
    line-height: 26px;
    float: left;
    width: 100%;
    margin-top: 30px
}
.btn.btn-primary:hover{
    background-color: var(--primary-color);
    opacity: 0.9 !important;
    border-color: var(--primary-color);
    color:#fff !important;
}
.mm-item{
    margin-top: 20px;
    display: block
}
.mm-item img{
    border-radius: 4px;
    border: 1px solid #dedede;
}
.mm-item h6{
    text-transform: capitalize;
    font-size: 14px;
    color:#2e2e2f;
    margin-top: 5px;
    margin-bottom:0px;
}
.mm-item:hover h6{
    color: var(--primary-color);
}
.mm-item small{
    font-size: 12px;
    color:#666;
    text-transform: initial !important;
}
.icon-posttype{
    padding: 30px 0;
    text-align: center;
    font-size: 70px;
    color:#555;
    background-color: #ebedf2;
    border-radius: 8px;
    margin: 10px;
}
.posttype-item-1 .icon-posttype{
    background-color:#ddf0de;
}
.posttype-item-2 .icon-posttype{
    background-color:#ddecf0;
}
.posttype-item-3 .icon-posttype{
    background-color:#eeddf0;
}
.posttype-item-4 .icon-posttype{
    background-color:#f0dddd;
}
.posttype-item-5 .icon-posttype{
    background-color:#e6ddf0;
}
.posttype-item{
    opacity: 0.7
}
.posttype-item:hover{
    cursor:pointer;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    opacity: 1;
}
.posttype-item.active{
    opacity: 1;
    border: 1px solid #0e8111
}
.posttype-item.active:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:#0e81125f
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
